<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="VaultXDbConnection" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=VaultXDb;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="SmtpEmail" value="your-app@yourdomain.com" />
		<add key="SmtpPassword" value="your-app-password" />
		<add key="SmtpHost" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
		<add key="MaxLoginAttempts" value="5" />
		<add key="LockoutDurationMinutes" value="30" />
		<add key="SessionTimeoutMinutes" value="30" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />

		<sessionState mode="InProc" timeout="30" cookieName="VaultXSession" cookieless="UseCookies" />

		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" defaultUrl="Home.aspx" timeout="30" name="VaultXAuth" cookieless="UseCookies" protection="All" />
		</authentication>

		<!-- Show detailed errors for debugging -->
		<customErrors mode="Off" />

		<pages validateRequest="false" />
		<httpCookies httpOnlyCookies="true" requireSSL="false" />
		<trace enabled="false" />
	</system.web>

	<system.webServer>
		<!-- Show detailed IIS errors -->
		<httpErrors existingResponse="PassThrough" />

		<defaultDocument>
			<files>
				<clear />
				<add value="Home.aspx" />
				<add value="Test.aspx" />
				<add value="default.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=&quot;Web&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>