#AccountDetailsMainContent {
}

/* Account Info Section */
.account-info-section {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: var(--radius);
    background-color: var(--color-bg-quaternary);
    box-shadow: var(--box-shadow);
    opacity: 0;
    animation: fadeUp 1s ease forwards;
}

    .account-info-section h2 {
        font-size: var(--font-sz-lg);
        margin-bottom: 20px;
        text-align: center;
        color: var(--color-font-primary);
    }

.account-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

    .account-info-row strong {
        font-weight: bold;
        color: var(--color-font-primary);
    }

    .account-info-row span {
        color: var(--color-font-primary);
        text-align: right;
    }


.account-info .btn-action {
    display: inline-block;
    width: 100%;
    margin: 10px 5px 0 0;
    padding: 8px 15px;
    font-size: var(--font-sz-md);
    border-radius: var(--radius);
    border: none;
    cursor: pointer;
    background-color: var(--color-bg-tertiary);
    color: var(--color-font-primary);
    transition: background 0.3s ease, transform 0.2s ease;
}

    .account-info .btn-action:hover {
        background-color: var(--color-bg-secondary);
        transform: scale(1.03);
    }

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none; /* hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

    .modal.show {
        display: flex;
    }

.modal-content {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    position: relative;
    text-align: center;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 22px;
    cursor: pointer;
}

.modal-input {
    width: 100%;
    padding: 6px;
    margin: 10px 0;
}

.btn-action {
    padding: 8px 15px;
    cursor: pointer;
}

/* Nominee Details Section */
.nominee-section {
    margin-top: 30px;
    padding: var(--padding);
    border-radius: var(--radius);
    background: var(--color-bg-quaternary);
    box-shadow: var(--box-shadow);
    animation: fadeUp 0.5s ease both;
}

.nominee-section > h2 {
    font-size: var(--font-sz-lg);
    margin-bottom: 15px;
    text-align: center;
    color: var(--color-font-primary);
}

.nominee-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

.nominee-photo {
    width: 100%;
/*    flex: 0 0 120px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.nominee-img {
    width: 300px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
/*    object-fit: cover;*/
    border-radius: 8px;
    border: 1px solid var(--color-bg-tertiary);
    box-shadow: var(--box-shadow);
}


.nominee-data {
    height: 100%;
    width: 100%;
}

.nominee-row {
    width: 100%;
    margin-bottom: 10px;
/*    font-size: var(--font-sz-sm);*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--color-font-primary);
}


/* Transactions Section */
.transactions-section {
    padding: var(--padding);
    border-radius: var(--radius);
    background-color: var(--color-bg-quaternary);
    margin-top: 20px;
}

    .transactions-section h2 {
        font-size: var(--font-sz-lg);
        margin-bottom: 15px;
        text-align: center;
        color: var(--color-font-primary);
    }

.transactions-list {
    padding-right: 5px;
    transition: all 0.3s ease;
}

.transaction-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding);
    margin-bottom: 8px;
    background: var(--color-bg-tertiary);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    gap: 10px;
    font-size: var(--font-sz-sm);
    animation: fadeUp 0.5s ease both;
    transition: background 0.3s ease;
}

    .transaction-item:hover {
        background: var(--color-bg-secondary);
        cursor: pointer;
    }

/* Header Row */
.transactions-list .transaction-item.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    background-color: var(--color-bg-quaternary);
    padding: var(--padding);
    border-radius: var(--radius);
    gap: 10px;
    font-size: var(--font-sz-sm);
}

    .transactions-list .transaction-item.header .txn-faid,
    .transactions-list .transaction-item.header .txn-taid {
        width: 10%;
        flex-shrink: 0;
    }

    .transactions-list .transaction-item.header .txn-type {
        width: 10%;
        flex-shrink: 0;
        text-align: center;
    }

    .transactions-list .transaction-item.header .txn-amount {
        flex: 1 1 auto;
        /*        width: 10%;*/
        flex-shrink: 0;
        text-align: right;
    }

    .transactions-list .transaction-item.header .txn-reference {
        width: 30%;
        text-align: left;
        margin: 0 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .transactions-list .transaction-item.header .txn-date {
        width: 10%;
        flex-shrink: 0;
        text-align: center;
    }

.txn-faid, .txn-taid {
    min-width: 10%;
    flex-shrink: 0;
}

.txn-type {
    min-width: 10%;
    flex-shrink: 0;
    text-align: center;
}

.txn-amount {
    flex: 1 1 auto;
    /*    min-width: 10%;*/
    flex-shrink: 0;
    font-weight: bold;
    text-align: right;
}

.txn-reference {
    width: 30%;
    margin: 0 10px;
    text-align: justify;
    /*    white-space: nowrap;*/
    /*    overflow-y: hidden;
    overflow-x: scroll;*/
/*    text-overflow: ellipsis;*/
}

.txn-date {
    min-width: 10%;
    flex-shrink: 0;
    text-align: center;
    color: var(--color-font-tertiary);
}

/* Animations */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Adjustments */
@media screen and (max-width: 1280px) {

    /* Account Info Section */
    .account-info-section {
        padding: 15px;
    }

        .account-info-section p {
            font-size: calc(var(--font-sz-md) - 1px);
        }

    .account-info .btn-action {
        font-size: calc(var(--font-sz-md) - 1px);
        padding: 7px 12px;
    }

    /* Transactions Section */
    .transactions-section {
        padding: 15px;
    }

    .transactions-list .transaction-item,
    .transactions-list .transaction-item.header {
        display: flex;
        flex-wrap: nowrap; /* keep in one row */
        gap: 5px;
        padding: 8px;
        font-size: var(--font-sz-sm);
    }

    /* Hide less important columns */
    .transaction-item .txn-type,
    .transaction-item.header .txn-type,
    .transaction-item .txn-reference,
    .transaction-item.header .txn-reference {
        display: none;
    }

    /* Set column widths like dashboard style */
    .transaction-item .txn-faid,
    .transaction-item.header .txn-faid,
    .transaction-item .txn-taid,
    .transaction-item.header .txn-taid {
        flex: 0 0 25%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: var(--font-sz-sm);
    }

    .transaction-item .txn-amount,
    .transaction-item.header .txn-amount {
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: var(--font-sz-sm);
    }


    .transaction-item .txn-date,
    .transaction-item.header .txn-date {
        flex: 0 0 25%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: var(--font-sz-sm);
    }
}


@media screen and (max-width: 768px) {

    /* Account Info Section */
    .account-info-section p {
        font-size: var(--font-sz-sm);
    }

    .account-info .btn-action {
        font-size: var(--font-sz-sm);
        padding: 6px 10px;
    }

    .nominee-info, .nominee-section > h2, .nominee-data {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .nominee-photo {
        flex: 0 0 80px;
    }

    .nominee-img {
        width: 80px;
        height: 80px;
    }

    /* Transactions Section */
    .transactions-section h2 {
        font-size: var(--font-sz-sm);
    }

    .transactions-list .transaction-item,
    .transactions-list .transaction-item.header {
        display: flex;
        flex-wrap: nowrap;
        gap: 5px;
        padding: 8px;
        font-size: var(--font-sz-vsm);
    }

    /* Columns */
    .transaction-item .txn-faid,
    .transaction-item.header .txn-faid,
    .transaction-item .txn-taid,
    .transaction-item.header .txn-taid {
        flex: 0 0 25%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: var(--font-sz-vsm);
    }

    .transaction-item .txn-amount,
    .transaction-item.header .txn-amount {
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: var(--font-sz-vsm);
    }

    .transaction-item .txn-date,
    .transaction-item.header .txn-date {
        flex: 0 0 25%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: var(--font-sz-vsm);
    }

    /* Hide less important columns */
    .transaction-item .txn-type,
    .transaction-item.header .txn-type,
    .transaction-item .txn-reference,
    .transaction-item.header .txn-reference {
        display: none;
    }
}



